.header-line {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 98px;
  padding: 33px 40px;
  justify-content: center;
  gap: 425px;
}

.about {
  display: flex;
  align-items: flex-end;
}

@font-face {
  font-family: "Stem";
  src: url("./assets/Stem-Regular.otf");
}

@font-face {
  font-family: "Gilroy";
  src: url("assets/Gilroy-Regular.ttf");
}

.company-name {
  color: #0087ea;
  font-family: "Stem";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.about-item {
  color: rgba(20, 20, 21, 0.8);
  text-align: right;
  font-family: "Stem";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
  margin-right: 24px;
}

.num {
  text-decoration: none;
}

.phone {
  color: #141415;
  text-align: right;
  font-family: "Stem";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-left: 16px;
}

.main-page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow: hidden;
  max-height: 798px;
}

.main-page1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 125px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

.main2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.button-skidka {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.main-name {
  color: var(--Text-Light-Title, #000);
  font-family: "Stem";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 68px;
}

.main-second {
  color: var(--Text-Light-Body, rgba(0, 0, 0, 0.7));
  font-family: "Stem";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

button:hover {
  cursor: pointer;
}

.button1 {
  display: flex;
  height: 56px;
  padding: 20px 32px;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid var(--black-6, rgba(0, 0, 0, 0.06));
  background: #0087ea;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.04),
    0px 0px 4px 0px rgba(0, 0, 0, 0.04);
  color: var(--Text-Dark-Title, #fff);
  text-align: center;
  font-family: "Stem";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.button2 {
  display: flex;
  height: 56px;
  padding: 20px 32px;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid var(--black-6, rgba(0, 0, 0, 0.06));
  background: var(--white-100, #fff);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.04),
    0px 0px 4px 0px rgba(0, 0, 0, 0.04);
  color: #0087ea;
  text-align: center;
  font-family: "Stem";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.text-skidki {
  color: var(--Text-Light-Label, rgba(0, 0, 0, 0.4));
  font-family: "Stem";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.page-2 {
  display: flex;
  padding: 120px 360px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background: #f7f8fa;
}

.uslugi {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.uslugi1 {
  color: #0087ea;
  text-align: center;
  font-family: "Stem";
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.uslugi2 {
  color: var(--Text-Light-Title, #000);
  text-align: center;
  font-family: "Stem";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 68px;
}

.uslugi3 {
  color: var(--Text-Light-Body, rgba(0, 0, 0, 0.7));
  text-align: center;
  font-family: "Stem";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.img2 {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.bgimg {
  background-image: url(assets/bgimage.jpg);
  height: 798px;
  background-size: cover;
  position: relative;
}

.img3 {
  padding-top: 618px;
  padding-left: 165px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.buy-cleaning {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: absolute;
  top: 233px;
  bottom: 233px;
  left: 925px;
  right: 165px;
}

.buy-cleaning2 {
  width: 290px;
  height: 350px;
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  border-radius: 16px;
  border: 1px solid var(--Elements-Light-Border, rgba(0, 0, 0, 0.1));
  background: var(--Elements-Light-Background, #fff);
}

.uborka {
  color: var(--Text-Light-Title, #000);
  font-family: "Gilroy";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.uborka2 {
  color: var(--Text-Light-Body, rgba(0, 0, 0, 0.7));
  font-family: "Gilroy";
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.price {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.price-one {
  color: #0087ea;
  font-family: "Gilroy";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.price-two {
  color: var(--Text-Light-Body, rgba(0, 0, 0, 0.7));
  font-family: "Gilroy";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-decoration-line: line-through;
}

.buy-button {
  display: flex;
  width: 286px;
  padding: 10px 0px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 4px;
  background: #0087ea;
  color: var(--Text-Dark-Title, #fff);
  text-align: center;
  font-family: "Gilroy";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.page-4 {
  display: flex;
  height: 720px;
  padding: 100px 165px;
  justify-content: center;
  align-items: center;
  gap: 125px;
}

.pairimgs {
  position: relative;
}

.pairimg1 {
  width: 350px;
  height: 425px;
  flex-shrink: 0;
  border-radius: 8px;
  position: absolute;
}

.pairimg2 {
  width: 255px;
  height: 255px;
  flex-shrink: 0;
  border-radius: 8px;
  position: absolute;
  top: 265px;
  left: 190px;
}

.about-text {
  padding-left: 550px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.about-company-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about-company-text1 {
  color: #0087ea;
  font-family: "Stem";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.about-company-text2 {
  color: var(--Text-Light-Title, #000);
  font-family: "Stem";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
}

.about-company-text3 {
  color: var(--Text-Light-Body, rgba(0, 0, 0, 0.7));
  font-family: "Stem";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.more-button1 {
  display: flex;
  height: 56px;
  padding: 20px 32px;
  align-items: center;
  gap: 10px;
  color: #fff;
  text-align: center;
  font-family: "Stem";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  border-radius: 6px;
  border: 1px solid var(--black-6, rgba(0, 0, 0, 0.06));
  background: #0087ea;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.04),
    0px 0px 4px 0px rgba(0, 0, 0, 0.04);
}

.page-5 {
  display: flex;
  padding: 200px 360px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background: #f7f8fa;
}

.otzyvy {
  width: 720px;
  color: var(--Text-Light-Title, #000);
  text-align: center;
  font-family: "Stem";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 68px;
}

.otzyvy1 {
  color: var(--Text-Light-Body, rgba(0, 0, 0, 0.7));
  text-align: center;
  font-family: "Stem";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.photo-otzyvy {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.photos {
  width: 286px;
  height: 339px;
  display: flex;
  padding: 40px 32px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 16px;
  border: 1px solid var(--black-10, rgba(0, 0, 0, 0.1));
  background: var(--white-100, #fff);
}

.photos2 {
  width: 286px;
  height: 400px;
  display: flex;
  padding: 40px 32px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 16px;
  border: 1px solid var(--black-10, rgba(0, 0, 0, 0.1));
  background: var(--white-100, #fff);
}

.photos3 {
  width: 286px;
  height: 246px;
  display: flex;
  padding: 40px 32px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 16px;
  border: 1px solid var(--black-10, rgba(0, 0, 0, 0.1));
  background: var(--white-100, #fff);
}

.photo1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  gap: 32px;
}

.pffs {
  width: 64px;
  height: 64px;
  border-radius: 64px;
  border: 1px solid var(--black-10, rgba(0, 0, 0, 0.1));
}

.photo-text {
  color: var(--Text-Light-Title, #000);
  text-align: center;
  font-family: "Stem";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.photo-text2 {
  color: var(--Text-Light-Title, #000);
  text-align: center;
  font-family: "Stem";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.photograph {
  color: var(--Text-Light-Label, rgba(0, 0, 0, 0.4));
  text-align: center;
  font-family: "Stem";
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}

.page-6 {
  display: flex;
  padding: 120px 360px;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  background: #0087ea;
}

.certificate1 {
  color: #fff;
  text-align: center;
  font-family: "Stem";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
}

.certificate2 {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  border-image-slice: fill;
}

.dark-image {
  display: flex;
  width: 255px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.page-7 {
  display: flex;
  padding: 120px 360px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.category {
  display: flex;
  width: 720px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.category1 {
  color: #0087ea;
  text-align: center;
  font-family: "Stem";
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.category2 {
  color: var(--Text-Light-Title, #000);
  text-align: center;
  font-family: "Stem";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 68px;
}

.category3 {
  color: var(--Text-Light-Body, rgba(0, 0, 0, 0.7));
  text-align: center;
  font-family: "Stem";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.uborka-pics {
  padding-top: 34px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.page-8 {
  background-image: url(assets/01.jpg);
  height: 618px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.partners {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.partners1 {
  color: var(--Text-Dark-Title, #fff);
  text-align: center;
  font-family: "Stem";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 68px;
}

.partners2 {
  color: var(--Text-Dark-Body, rgba(255, 255, 255, 0.8));
  text-align: center;
  font-family: "Stem";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.partners-pics {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-left: 185px;
}

.footer1 {
  display: flex;
  flex-direction: column;
  height: 340px;
  padding: 80px 494px;
  justify-content: center;
  align-items: center;
  background: #fff;
  gap: 40px;
}

.socials {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.about-footer {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.about-footer1 {
  color: rgba(0, 0, 0, 0.8);
  font-family: "Stem";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.last-footer1 {
  color: rgba(0, 0, 0, 0.6);
  font-family: "Stem";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
